config/kitty/cached.json
themes/gtk3/oomox-gruvbox-gtk/unity/maximize.svg
themes/gtk3/oomox-gruvbox-gtk/unity/maximize_focused_prelight.svg
themes/gtk3/oomox-gruvbox-gtk/unity/minimize.svg
themes/icons/oomox-gruvbox-gtk-flat/apps/scalable/qtdesigner.svg
