*:not(body):not(.arrow):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(a):not(p):not(span):not(strong) {
  /* background-color: rgba(255, 255, 255, 0.005) !important; */
  background-color: #11151c !important;
  background-image: none !important;
  color: #d3ebe9 !important;
  outline-color: #edb443;
  border-color: #2aa889;
}

p {
  background-color: #091f2e !important;
  background-color: #11151c !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: #99d1ce !important;
}

a {
  background: rgba(10, 10, 40, 0.3) !important;
  background-color: rgba(10, 10, 40, 0.3) !important;
  color: #599cab !important;
}

input,
textarea {
  outline-color: #d26937 !important;
  border-color: #d26937 !important;
}

body {
  background: #0c1014 !important;
  background-color: #0c1014 !important;
  background-image: none !important;
}

header,
nav,
input * {
  background-color: #091f2e !important;
}
